.header{
    background: var(--gray-700);
    height: 12.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center; /* Ensure vertical alignment */
    gap: 0.5rem; /* Reduce gap for a tighter layout */
    margin-top: -1.5rem;
}


.header img{
    width: 8rem;
    height: 3rem;
}

.textBox{
    display: flex;
}

.textBox textarea {
    background: var(--gray-500);
    border: 0;
    border-radius: 8px;
    padding: 1rem;
    color: var(--gray-300);

    width: 39.875rem;
    height: 3.375rem;
    
    resize: none;
    font-size: 1rem; /* Ensure text size consistency */
}

.createButton {
    display: flex;
    align-items: center; /* Ensures vertical alignment */
}

.btn {
    background: var(--blue-700);
    color: var(--gray-100);
    
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem; /* Space between text and icon */
    
    width: 5.625rem;
    height: 3.375rem;
    
    font-size: 1rem; /* Ensures text is not too small */
}

.mainTaskList{
    justify-items: center;
}

.taskCounter{
    display: flex;
    justify-content: space-between;
    width: 46rem;
    margin-top: 4rem;
    font-weight: bold;
}

.createdTasks {
    color: var(--blue-600);
}

.completedTasks {
    color: var(--purple-600);
}

.taskList{
    margin-top: 1.5rem;
    width: 46rem;
}
